<h1>Addition</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @first_num %></dd>

  <dt>Second number</dt>
  <dd><%= @second_num %></dd>

  <dt>Result</dt>
  <dd><%= @the_result %></dd>
</dl>

<a href="/add/form">Do another addition</a>
