<h1>New addition</h1>

<form action="/add/result">
  <div>
    <label for="x">Add this:</label>
    <input id="x" type="text" name="first_number">

    <label for="y">to this:</label>
    <input id="y" type="text" name="second_number">
  </div>
  <button>Add!</button>
</form>
