<h1>New division</h1>

<form action="/div/results">
  <label for="x">Divide this:</label>
  <input id="x" type="text" name="first_number" >

  <label for="y">by this:</label>
  <input id="y" type="text" name="second_number">

  <button>
    Divide!
  </button>
</form>
