<h1>New addition</h1>

<form action="/mult/result">
  <label for="x">Multiply this:</label>
  <input id="x" type="text" name="first_number" >

  <label for="y">by this:</label>
  <input id="y" type="text" name="second_number">

  <button>
    Multiply!
  </button>
</form>
