<h1>New multiplication</h1>

<form action="/mult/result">
  <div>
    <label for="x">Multiply this:</label>
    <input id="x" type="text" name="first_num" >

    <label for="y">by this:</label>
    <input id="y" type="text" name="second_num">
  </div>
  <button>
    Multiply!
  </button>
</form>
