<h1>New subtraction</h1>

<form action="/sub/result">
  <div>
    <label for="x">Subtract this:</label>
    <input id="x" type="text" name="first_num" >

    <label for="y">from this:</label>
    <input id="y" type="text" name="second_num">
  </div>
  <button>
    Subtract!
  </button>
</form>
